<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gientech.iot.user.biz.mapper.DepartmentUserMapper">

    <select id="getUserIdsByDeptIds" resultType="java.lang.Long">
        SELECT du.user_id
        FROM sys_department_user du
        LEFT JOIN sys_user u ON u.id = du.user_id
        WHERE u.is_delete = 0
        AND du.department_id IN
        <foreach collection="deptIds" item="deptId" separator="," open="(" close=")">
            #{deptId}
        </foreach>
    </select>

    <select id="getDeptIdsByUserIds" resultType="java.lang.Long">
        SELECT du.department_id
        FROM sys_department_user du
        LEFT JOIN sys_department d ON d.id = du.department_id
        WHERE d.is_delete = 0
        AND du.user_id IN
        <foreach collection="userIds" item="userId" separator="," open="(" close=")">
            #{userId}
        </foreach>
    </select>

    <select id="getListByDeptIds" resultType="com.gientech.iot.user.biz.entity.SysDepartmentUser">
        SELECT du.*
        FROM sys_department_user du
        LEFT JOIN sys_user u ON u.id = du.user_id
        WHERE u.is_delete = 0
        AND du.department_id IN
        <foreach collection="deptIds" item="deptId" separator="," open="(" close=")">
            #{deptId}
        </foreach>
    </select>

    <select id="getListByUserIds" resultType="com.gientech.iot.user.biz.entity.SysDepartmentUser">
        SELECT du.*
        FROM sys_department_user du
        LEFT JOIN sys_department d ON d.id = du.department_id
        WHERE d.is_delete = 0
        AND du.user_id IN
        <foreach collection="userIds" item="userId" separator="," open="(" close=")">
            #{userId}
        </foreach>
    </select>

    <delete id="deleteByDeptIds" parameterType="java.util.List">
        delete from sys_department_user where department_id in
        <foreach collection="deptIds" item="deptId" separator="," open="(" close=")">
            #{deptId}
        </foreach>
    </delete>

    <delete id="deleteByUserIds" parameterType="java.util.List">
        delete from sys_department_user where user_id in
        <foreach collection="userIds" item="userId" separator="," open="(" close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>