<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gientech.iot.user.biz.mapper.DictionaryMapper">

    <!--数据字典查询基础字段-->
    <sql id="dictionaryInfo">
        ${alias}id,
        ${alias}id AS dictId,
        ${alias}parent_id,
        ${alias}parent_id AS dictParentId,
        ${alias}dict_type,
        ${alias}dict_code,
        ${alias}dict_name,
        ${alias}is_enable,
        ${alias}`level`,
        ${alias}remark,
        ${alias}create_user_name,
        ${alias}create_time,
        ${alias}update_user_name,
        ${alias}update_time
    </sql>

    <select id="getDictListByParentId" resultType="com.gientech.iot.user.api.pojo.vo.DictTreeVO">
        SELECT
        <include refid="dictionaryInfo">
            <property name="alias" value="t1."/>
        </include>
        FROM
        (SELECT
        <include refid="dictionaryInfo">
            <property name="alias" value="d."/>
        </include>
        FROM sys_dictionary d WHERE parent_id IS NOT NULL AND is_delete = 0) t1,
        (SELECT @pid := #{dictParentId}) t2
        WHERE FIND_IN_SET(parent_id, @pid) > 0
        AND @pid := concat( @pid, ',', id )
        <if test="isShowParent != null and isShowParent == true">
            UNION
            SELECT
            <include refid="dictionaryInfo">
                <property name="alias" value="d."/>
            </include>
            FROM sys_dictionary d
            WHERE id = #{dictParentId}
            AND is_delete = 0
        </if>
    </select>

    <select id="getDictEntityListByParentId" resultType="com.gientech.iot.user.biz.entity.SysDictionary">
        SELECT
            t1.*
        FROM
        (SELECT
            d.*
        FROM sys_dictionary d WHERE parent_id IS NOT NULL AND is_delete = 0) t1,
        (SELECT @pid := #{dictParentId}) t2
        WHERE FIND_IN_SET(parent_id, @pid) > 0
        AND @pid := concat( @pid, ',', id )
        <if test="isShowParent != null and isShowParent == true">
            UNION
            SELECT
                d.*
            FROM sys_dictionary d
            WHERE id = #{dictParentId}
            AND is_delete = 0
        </if>
    </select>

    <select id="getDictList" resultType="com.gientech.iot.user.api.pojo.vo.DictTreeVO">
        SELECT
        <include refid="dictionaryInfo">
            <property name="alias" value="d."/>
        </include>
        FROM
          sys_dictionary d
        WHERE
        d.is_delete = 0
        <if test="dto.dictType != null and dto.dictType.length > 0">
            and d.dict_type = #{dto.dictType}
        </if>
        <if test="dto.dictName != null and dto.dictName.length > 0">
            and d.dict_name like concat('%', #{dto.dictName}, '%')
        </if>
        <if test="dto.dictCode != null and dto.dictCode.length > 0">
            and d.dict_code like concat('%', #{dto.dictCode}, '%')
        </if>
        <if test="dto.isEnable != null">
            and d.is_enable = #{dto.isEnable}
        </if>
        <if test="dto.level != null and dto.level > 0">
            and d.level = #{dto.level}
        </if>
        <if test="dto.startCreateTime != null">
            and d.create_time between #{dto.startCreateTime} and #{dto.endCreateTime}
        </if>
        order by d.create_time
    </select>
    <select id="getDictByType" resultType="com.gientech.iot.user.api.pojo.vo.DictTreeVO">
        SELECT
        <include refid="dictionaryInfo">
            <property name="alias" value="d."/>
        </include>
        FROM
        sys_dictionary d
        WHERE
        d.is_delete = 0 and d.dict_type = #{dictType}
        ORDER BY d.create_time
    </select>
    <select id="listType" resultType="com.gientech.iot.user.api.pojo.vo.DictInfoVO">
        SELECT
        <include refid="dictionaryInfo">
            <property name="alias" value="d."/>
        </include>,
        s.system_name
        FROM
        sys_dictionary d
        WHERE
        d.is_delete = 0 and `level` = 1
        ORDER BY d.create_time
    </select>
    <select id="listAll" resultType="com.gientech.iot.user.api.pojo.vo.DictInfoVO">
        SELECT
        <include refid="dictionaryInfo">
            <property name="alias" value="d."/>
        </include>
        FROM
        sys_dictionary d
        WHERE
        d.is_delete = 0
        ORDER BY d.create_time
    </select>
    <select id="getMaxDictCode" resultType="java.lang.Integer">
        SELECT ifnull(max(dict_code), 0)
        FROM sys_dictionary
        WHERE parent_id = #{dictParentId}
    </select>
    <select id="getPathById" resultType="com.gientech.iot.user.biz.entity.SysDictionary">
        SELECT t1.*
        FROM
        sys_dictionary t1
        JOIN (
            SELECT
                @id AS _id,
                (SELECT @id := parent_id FROM sys_dictionary WHERE id = _id) AS parentId
            FROM
                (SELECT @id := #{dictId}) vars, sys_dictionary
            WHERE @id IS NOT NULL
        ) t2 ON t1.id = t2._id
        ORDER BY t1.create_time
    </select>
    <select id="getTopDictList" resultType="com.gientech.iot.user.api.pojo.vo.DictTreeVO">
        SELECT
        <include refid="dictionaryInfo">
            <property name="alias" value="d."/>
        </include>
        FROM
        sys_dictionary d
        WHERE
        d.dict_code IN
        <foreach collection="topDict" item="code" separator="," open="(" close=")">
            #{code}
        </foreach>
        ORDER BY d.create_time
    </select>
</mapper>