<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.dabaibai.user.biz.mapper.EnterpriseMapper">

    <!--企业信息查询基础字段-->
    <sql id="enterpriseInfo">
        ${alias}id,
        ${alias}id AS enterpriseId,
        ${alias}parent_id,
        ${alias}is_org,
        ${alias}short_name,
        ${alias}full_name,
        ${alias}unique_code,
        ${alias}province,
        ${alias}city,
        ${alias}county,
        ${alias}address,
        ${alias}email,
        ${alias}mobile,
        ${alias}fax,
        ${alias}`domain`,
        ${alias}legal_person,
        ${alias}legal_person_phone,
        ${alias}charger,
        ${alias}charger_phone,
        ${alias}remark,
        ${alias}create_user_id,
        ${alias}create_user_code,
        ${alias}create_user_name,
        ${alias}create_time,
        ${alias}update_user_id,
        ${alias}update_user_code,
        ${alias}update_user_name,
        ${alias}update_time,
        ${alias}password_policy_id AS passwordPolicyId
    </sql>

    <select id="searchByParam" resultType="top.dabaibai.user.api.pojo.vo.EnterpriseSearchResultVO">
        select
        <include refid="enterpriseInfo">
            <property name="alias" value="e."/>
        </include>
        from sys_enterprise e
        <where>
            e.is_delete = 0
            <if test="dto.name != null and dto.name.length > 0">
                and e.full_name like concat('%', #{dto.name},'%')
            </if>
            <if test="dto.uniqueCode != null and dto.uniqueCode.length > 0">
                and e.unique_code like concat('%', #{dto.uniqueCode},'%')
            </if>
            <if test="dto.address != null and dto.address.length > 0">
                and e.address like concat('%', #{dto.address},'%')
            </if>
            <if test="dto.email != null and dto.email.length > 0">
                and e.email like concat('%', #{dto.email},'%')
            </if>
            <if test="dto.mobile != null and dto.mobile.length > 0">
                and e.mobile like concat('%', #{dto.mobile},'%')
            </if>
            order by e.create_time desc
        </where>
    </select>
</mapper>