<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.dabaibai.user.biz.mapper.PasswordPolicyMapper">

    <select id="getPolicyByEnterpriseId" resultType="top.dabaibai.user.biz.entity.SysPasswordPolicy"
            parameterType="java.lang.Long">
        select
        a.*
        from sys_password_policy a
        left join sys_enterprise b on a.id = b.password_policy_id
        where
        a.is_delete = 0 and b.is_delete = 0
        and b.id = #{enterpriseId}
    </select>

</mapper>