<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gientech.iot.user.biz.mapper.UserMapper">

    <select id="page" resultType="com.gientech.iot.user.api.pojo.vo.UserSearchResultVO">
        select
        u.*,
        u.id as user_id,
        d.department_name,
        d.department_code
        from sys_user u
        left join sys_department_user du on u.id = du.user_id
        left join sys_department d on d.id = du.department_id
        where u.is_delete = 0
        <if test="dto.username != null and dto.username != ''">
            and u.username like concat('%', #{dto.username}, '%')
        </if>
        <if test="dto.realName != null and dto.realName != ''">
            and u.real_name like concat('%', #{dto.realName}, '%')
        </if>
        <if test="dto.phone != null and dto.phone != ''">
            and u.phone like concat('%', #{dto.phone}, '%')
        </if>
        <if test="dto.isEnable != null">
            and u.is_enable = #{dto.isEnable}
        </if>
        <if test="dto.departmentId != null and dto.departmentId != ''">
            and find_in_set(#{dto.departmentId}, d.ids)
        </if>
        <if test="dto.startCreateTime != null">
            and u.create_time between #{dto.startCreateTime} and #{dto.endCreateTime}
        </if>
        order by u.create_time desc
    </select>

    <select id="getUserListByEnterpriseId" resultType="com.gientech.iot.user.api.pojo.vo.UserDetailResultVO">
        SELECT
        u.*,
        u.id as user_id,
        d.department_name,
        d.department_code,
        e.full_name as enterpriseFullName,
        e.id as enterpriseId
        FROM sys_user u
        LEFT JOIN sys_department_user du ON du.user_id = u.id
        LEFT JOIN sys_department d ON d.id = du.department_id
        LEFT JOIN sys_enterprise e ON e.id = d.enterprise_id
        WHERE e.id = #{enterpriseId} AND u.is_delete = 0 AND u.is_enable = 1
    </select>

    <select id="getUserListByDepartmentId" resultType="com.gientech.iot.user.api.pojo.vo.UserDetailResultVO">
        SELECT
        u.*,
        u.id as user_id,
        d.department_name,
        d.department_code
        FROM sys_user u
        LEFT JOIN sys_department_user du ON du.user_id = u.id
        LEFT JOIN sys_department d ON d.id = du.department_id
        WHERE d.id = #{departmentId} AND u.is_delete = 0 AND u.is_enable = 1
    </select>

    <select id="getSystemUserInfoById" resultType="com.gientech.iot.user.api.pojo.vo.SystemUserInfoVO">
        SELECT
        u.*,
        u.id as user_id,
        d.id AS departmentId,
        d.department_name,
        d.department_code,
        e.full_name AS enterpriseFullName,
        e.id as enterpriseId
        FROM sys_user u
        LEFT JOIN sys_department_user du ON du.user_id = u.id
        LEFT JOIN sys_department d ON d.id = du.department_id
        LEFT JOIN sys_enterprise e ON e.id = d.enterprise_id
        WHERE u.id = #{userId} AND u.is_delete = 0 AND u.is_enable = 1
    </select>

    <select id="getUserInfoById" resultType="com.gientech.iot.user.api.pojo.vo.UserDetailResultVO">
        SELECT
        u.*,
        u.id as user_id,
        d.id AS departmentId,
        d.department_name,
        d.department_code,
        e.full_name AS enterpriseFullName,
        e.id as enterpriseId
        FROM sys_user u
        LEFT JOIN sys_department_user du ON du.user_id = u.id
        LEFT JOIN sys_department d ON d.id = du.department_id
        LEFT JOIN sys_enterprise e ON e.id = d.enterprise_id
        WHERE u.id = #{userId} AND u.is_delete = 0
    </select>

    <select id="getUserInfoByIdCardNo" resultType="com.gientech.iot.user.api.pojo.vo.UserDetailResultVO">
        SELECT
        u.*,
        u.id as user_id,
        d.department_name,
        d.department_code,
        e.full_name as enterpriseFullName,
        e.id as enterpriseId
        FROM sys_user u
        LEFT JOIN sys_department_user du ON du.user_id = u.id
        LEFT JOIN sys_department d ON d.id = du.department_id
        LEFT JOIN sys_enterprise e ON e.id = d.enterprise_id
        WHERE u.id_card_no = #{idCardNo} AND u.is_delete = 0
    </select>

    <select id="getUserInfoByCode" resultType="com.gientech.iot.user.api.pojo.vo.UserDetailResultVO">
        SELECT
        u.*,
        u.id as user_id,
        d.department_name,
        d.department_code,
        e.full_name as enterpriseFullName,
        e.id as enterpriseId
        FROM sys_user u
        LEFT JOIN sys_department_user du ON du.user_id = u.id
        LEFT JOIN sys_sys_department d ON d.id = du.department_id
        LEFT JOIN sys_enterprise e ON e.id = d.enterprise_id
        WHERE u.code = #{code} AND u.is_delete = 0
    </select>

    <select id="getUserInfoByIds" resultType="com.gientech.iot.user.api.pojo.vo.UserDetailResultVO">
        SELECT
        u.*,
        u.id as user_id,
        d.department_name,
        d.department_code,
        e.full_name as enterpriseFullName,
        e.id as enterpriseId
        FROM sys_user u
        LEFT JOIN sys_department_user du ON du.user_id = u.id
        LEFT JOIN sys_department d ON d.id = du.department_id
        LEFT JOIN sys_enterprise e ON e.id = d.enterprise_id
        WHERE u.is_delete = 0 and u.id IN
        <foreach collection="userIds" item="userId" separator="," open="(" close=")">
            #{userId}
        </foreach>
    </select>

    <select id="getUserInfoByIdCardNos" resultType="com.gientech.iot.user.api.pojo.vo.UserDetailResultVO">
        SELECT
        u.*,
        u.id as user_id,
        d.department_name,
        d.department_code,
        e.full_name as enterpriseFullName,
        e.id as enterpriseId
        FROM sys_user u
        LEFT JOIN sys_department_user du ON du.user_id = u.id
        LEFT JOIN sys_department d ON d.id = du.department_id
        LEFT JOIN sys_enterprise e ON e.id = d.enterprise_id
        WHERE u.is_delete = 0 and u.id_card_no IN
        <foreach collection="idCardNos" item="idCardNo" separator="," open="(" close=")">
            #{idCardNo}
        </foreach>
    </select>

    <select id="getUserInfoByCodes" resultType="com.gientech.iot.user.api.pojo.vo.UserDetailResultVO">
        SELECT
        u.*,
        u.id as user_id,
        d.department_name,
        d.department_code,
        e.full_name as enterpriseFullName,
        e.id as enterpriseId
        FROM sys_user u
        LEFT JOIN sys_department_user du ON du.user_id = u.id
        LEFT JOIN sys_department d ON d.id = du.department_id
        LEFT JOIN sy_senterprise e ON e.id = d.enterprise_id
        WHERE u.is_delete = 0 and u.code IN
        <foreach collection="codes" item="code" separator="," open="(" close=")">
            #{code}
        </foreach>
    </select>

    <select id="getLoginInfoByUsernameOrPhone" resultType="com.gientech.iot.user.api.pojo.vo.UserLoginVO">
        SELECT
        u.*,
        u.id as user_id,
        pp.remind_threshold,
        pp.retry_num,
        pp.freeze_time
        FROM
        sys_user u
        left join sys_department_user du on du.user_id = u.id
        left join sys_department d on d.id = du.department_id
        left join sys_enterprise e on e.id = d.enterprise_id
        left join sys_password_policy pp on pp.id = e.password_policy_id
        WHERE
        u.is_delete = 0
        <if test="username != null and username.length > 0">
            and u.username = #{username}
        </if>
        <if test="phone != null and phone.length > 0">
            and u.phone = #{username}
        </if>
    </select>
</mapper>