<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gientech.iot.demo.biz.mapper.DoTestMapper">


    <update id="testUpdate">
        update do_test set update_user_id = 0 where id = 1657360048124215298
    </update>
</mapper>